<div class="container">
  <div class="row">
    <h3>I want to ...</h3>
    <%= link_to "Order", new_order_path, class: 'btn btn-default btn-lg' %>
    <a><button type="button" class="btn btn-default btn-lg">Deliver</button></a>
  </div>
</div>
